#dropdown-basic-button{
  background-color: #000 !important;
  border: none !important;
  outline: none !important;
}
.menuMobile{
  display: none;
  margin-top: -15px;
}

.title-menuMobile{
  color: #000;
  text-align: center;
}

@media all and (min-width: 10px) and (max-width: 767px) and (orientation: portrait){
  .menuMobile{
    display: block;
  }
}

