.imgPerfil{
  width: 150px;
  height: 150px;
  background-image: url(../../assets/img/perfil.jpeg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 100px;
}
.title{
  text-align: center;
  color: #313131;
}
.desc{
  width: 50%;
  text-align: center;
  color: #313131;
  font-size: 1.1em;
}
.contato{
  width: 20%;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.icon{
  transition: fill 0.2s;
  cursor: pointer;
}
.icon:hover{
  fill: #009688;
  transform: scale(1.02);
}