.sobre{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.8);
  color: #FFF;
}
.title-sobre{
  margin: 25px;
}
.desc-sobre{
  width: 70%;
  text-align: center;
  font-size: 1.2em;
}
b{
  cursor: pointer;
}
.rodape-sobre{
  position: fixed;
  bottom: 10px;
  font-size: 0.9em;
}
@media all and (min-width: 10px) and (max-width: 767px) and (orientation: portrait){
  .desc-sobre{
    width: 90%;
    text-align: center;
    font-size: 1.2em;
    text-align: justify;
  }
  .title-sobre{
    margin: 35px;
  }
  .title-page{
    margin: 0;
    padding: 0;
  }
}