$primary-color: #2F3E46;
$secondary-color: #84A98C;
$border-color: #232F38;
$font-color: #CAD2C5;

*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
body{
    background-color: $primary-color;
}
.main{
    width: 100%;
    min-width: 960px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}